body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResult {
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
}
.dataframe {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  /* Style for table headers */
  .dataframe th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Style for table data cells */
  .dataframe td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Style for alternating row colors */
  .dataframe tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect on rows */
  .dataframe tr:hover {
    background-color: #ddd;
  }