<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <h1>Sign in</h1>
    <form action="Signin" method="post">
        <br><h3>Username: </h3>
        <input type="text" name="Username">
        <br><h3>Password: </h3>
        <input type="password" name="Password">
        <br><button type="submit"> Sign in </button>
    </form>
    <p>
        
    </p>
</body>
</html>